#body{
    background-color: #333333;
}

#canvas{
   border: solid 1px #d6d6d6;
    background-color: #fcfcfc;
    border-radius: 25px;";
}


.panel{
    background-color: #262626;
    color: #eee;
    font-size: 10px;
}


.painel_verm{
    border-color:#b7191c;
}

.painel_verm .panel-heading{
    color:#fff;
    background-color:#ed6857;
    border-color:#b7191c;
}


.painel_azul {
    border-color:#337ab7;
}

.painel_azul .panel-heading{
    color:#fff;
    background-color:#337ab7;
    border-color:#337ab7;
}

.painel_verd{
    border-color: #34b76a;
}

.painel_verd .panel-heading{
    color:#fff;
    background-color: #66ed80;
    border-color: #34b76a;
}


#panel-graficos{

    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

}



.label-verm-active{
    color: #c6c6c6;
    background-color: #d86251;
    height: 30px;
    margin-right: 10px;
    padding:5px 5px 3px 5px;
    border:solid 1px #ba5554;
}


.label-verm{
    background-color:#ed6857;
    color: #fff;
    height: 30px;
    margin-right: 10px;
    padding:5px 5px 3px 5px;
    border:solid 1px #ba5554;
}

.label-verm:hover{
   cursor: pointer;
}

.label-verm-active:hover{
    cursor: pointer;
}




.label-verd-active{
    color: #dbdbdb;
    background-color: #53bc62;
    height: 30px;
    margin-right: 10px;
    padding:5px 5px 3px 5px;
    border:solid 1px #4cb05f;
}


.label-verd{
    background-color: #66ed80;
    color: #fff;
    height: 30px;
    margin-right: 10px;
    padding:5px 5px 3px 5px;
    border:solid 1px #4cb05f;
}

.label-verd:hover{
    cursor: pointer;
}

.label-verd-active:hover{
    cursor: pointer;
}


.label-azul-active{
    color: #dbdbdb;
    background-color: #285c8c;
    height: 30px;
    margin-right: 10px;
    padding:5px 5px 3px 5px;
    border:solid 1px #204970;
}


.label-azul{
    background-color: #337ab7;
    color: #fff;
    height: 30px;
    margin-right: 10px;
    padding:5px 5px 3px 5px;
    border:solid 1px #2e679d;
}

.label-azul:hover{
    cursor: pointer;
}

.label-azul-active:hover{
    cursor: pointer;
}

.panel-body{
    line-height: 3px;
}

.panel-body input{

    background-color: rgba(255,255,255,0.1); border-radius: 10px; padding-left: 20px; border: none;
}

.panel-body input:focus{
    outline: 0;
    box-shadow: 0 0 2pt 1pt white;

}


#panel-save{

    background-color: #262626;
    color: #eee;
    font-size: 10px;
    border-radius: 20px;
    height: 200px;
    width: 600px;
    font-size: 15px;

    position: fixed;
    top: 200px;
    left: calc(50% - 300px);
    z-index: 999;

}


#panel-save .title{
    height: 40px;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    background-color: #3b3b3b;
}

#panel-save input[type="button"]{
    color:#000;
    background-color: rgba(200,200,200,1); border-radius: 10px; border: none;
}

#panel-save input[type="button"]:focus{
    outline: 0;
    background-color: rgba(255,255,255,1);
}


#panel-save input[type="text"]{
    color:#fff;
    width: 500px;
    background-color: rgba(255,255,255,0.1); border-radius: 10px; padding-left: 20px; border: none;
}

#panel-save input[type="text"]:focus{
    outline: 0;
    box-shadow: 0 0 2pt 1pt white;
}

#panel-save #container_nome{
    margin-left: 20px;
}

#panel-save #bt_saveproject{
  margin-left: 80px;
  margin-top: 40px;
  width: 100px;
}

#panel-save #bt_cancelproject{
    margin-left: 240px;
    width: 100px;
}

#panel-save #alert_mensage{
    margin-top: 15px;
    margin-left: 150px;
    width: 300px;
    text-align: center;
    font-size: 12px;
    color: rgba(255,70,70,0.7);

}

#background_save{
    position: fixed;
    top:0;
    left: 0;
    z-index: 997;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.7);
}





#panel-exportimage{

    background-color: #262626;
    color: #eee;
    font-size: 10px;
    border-radius: 20px;
    height: 900px;
    width: 1020px;
    font-size: 15px;

    position: fixed;
    top: 100px;
    left: calc(50% - 510px);
    z-index: 999;

}


#panel-exportimage img{
    width: 1000px;
    height: 800px;
    margin-left: 10px;
    margin-top: 10px;
}


#panel-exportimage .title{
    height: 40px;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #3b3b3b;
}

#panel-exportimage .subtitle{
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}

.bt_close:hover{
    cursor: pointer;
}

.bt_close{

    background-color: #c30a19;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    top:5px;
    right: 10px;
    text-align: center;
    padding-top: 3px;
    color:#5e090e;
    text-shadow: 1px 1px #ff001e;
    border: solid 1px #5e090e;

}


#panel-open-project{

    background-color: #262626;
    color: #eee;
    font-size: 10px;
    border-radius: 20px;
    height: 600px;
    width: 800px;
    font-size: 15px;

    position: fixed;
    top: 100px;
    left: calc(50% - 400px);
    z-index: 999;
}

#panel-open-project .title{
    height: 40px;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #3b3b3b;
}

#panel-open-project .subtitle{
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}

.project_saved_name{
    background-color: #8a8a8a;
    margin: 10px;
    text-align: center;
    font-size: 17px;
}

.project_saved_name:hover{
    cursor: pointer;
    color: #3f3f3f;
    background-color: #e4e4e4;
}